body{
display:flex;
justify-content:center;
align-items:center;
height:-20px;
background:#f0f0f0;
font-family:Arial;
}

.calculator{
background:#3b3b5c;
padding:20px;
border-radius:15px;
width:250px;
}

.display{
width:100%;
height:50px;
font-size:22px;
margin-bottom:15px;
text-align:right;
background:#c5d08a;
border:none;
padding:5px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
height:45px;
font-size:18px;
border:none;
border-radius:6px;
background:white;
cursor:pointer;
}

button:hover{
background:#ddd;
}

.equal{
grid-row: span 2;
background:#ff5733;
color:white;
height: 85px;
}
