.calculator-body{
    height: 400px;
    width: 330px;
    background-color: #3D3D5C;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}
.screen{
    background-color: #a1af77;
    }
