.calculator-body{
    height: 350px;
    width: 280px;
    background-color: #3D3D5C;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;

}

.screen{
background-color: #a1af77;
text-align: right;
width: 250px;
display: block;
margin: 0 auto;
font-size: 25px;
}